<headerClient>
</headerClient>
<div id="about">
    <h1>About</h1>
    <div class="persons">
        <div class="row first">
            <div class="hexagon"><img src="assets/img/musser_a.jpg" /></div>
            <div class="hexagon"><img src="assets/img/joseph.demersseman.jpg" /></div>
            <div class="hexagon"><img src="assets/img/philong.le.jpg" /></div>
            <div class="hexagon"><img src="assets/img/piubel_r.jpg" /></div>
        </div>
        <div class="row second">
            <div class="hexagon"><img src="assets/img/sami.mahjoub.jpg" /></div>
            <div class="hexagon"><img src="assets/img/theo.denanassy.jpg" /></div>
            <div class="hexagon"><img src="assets/img/urbain_j.jpg" /></div>
        </div>
    </div>
</div>
<logister></logister>
<error [error]="error"></error>