<headerClient>
</headerClient>
<div class="forgotPassword">
    <div class="form">
        <div class="tab-content">
            <div class="forgot-password" style="display:block;">
                <h2 class="logister__heading">Nouveau mot de passe</h2>
                <form name="form" (ngSubmit)="f.form.valid && newPassword()" #f="ngForm" novalidate>
                    <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required placeholder="Email Address*" />
                        <div *ngIf="f.submitted && !email.valid" class="help-block">Email requis</div>
                    </div>
                    <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !code.valid }">
                        <input type="text" name="code" [(ngModel)]="model.code" #code="ngModel" required placeholder="Code*" />
                        <div *ngIf="f.submitted && !code.valid" class="help-block">Code requis</div>
                    </div>
                    <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Set A Password*" />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Mot de passe requis</div>
                    </div>
                    <button [disabled]="loading" type="submit" class="button button-block">Valider <img src="assets/img/Rolling-1s-200px.gif" style="width: 40px;" *ngIf="loading"/></button>
                </form>
            </div>
        </div>
    </div>
</div>
<logister></logister>