<headerClient></headerClient>

<div class="container" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: white;">FORUMS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 forum">
            Title
        </div>
        <div class="col-md-3 forum">
            Author
        </div>
        <div class="col-md-1 forum">
            Created
        </div>
        <div class="col-md-2 forum">
            Nb Responses
        </div>
        <div class="col-md-3 forum">
            Last Message
        </div>
    </div>
    <div class="row" *ngFor="let discussion of allDiscussions" [routerLink]="['/forum', discussion.id]">
        <div class="col-md-3 forum">
            {{discussion.title}}
        </div>
        <div class="col-md-3 forum">
            {{discussion.author_id}}
        </div>
        <div class="col-md-1 forum">
            Created
        </div>
        <div class="col-md-2 forum">
            {{discussion.last_message}}
        </div>
        <div class="col-md-3 forum">
            {{discussion.created}}
        </div>
    </div>

    <br>

    <div class="jumbotron new-message">
        <div class="form-group row">
            <div class="col-md-5">
                <input class="form-control" id="title" type="text" placeholder="Title" [(ngModel)]="new_discussion.title">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control" id="message" type="text" placeholder="Message" [(ngModel)]="new_message.text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-10"><button type="button" class="btn btn-dark" (click)="add_discussion()">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-success" *ngIf="successMessage">
                Your post has been created !
            </div>
            <div class="alert alert-danger" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>

<logister></logister>