<headerClient>
</headerClient>
<div style="width:100%; height: 100%;" (mousemove)="move_ship($event)">
    <div data-w-id="79930808-1437-4824-e6d7-6370aef2347d" style="display:block" class="loading-section" id="loading_section">
        <img src="assets/img/girl.png" srcset="assets/img/girl-p-500.png 500w, assets/img/girl-p-800.png 800w, assets/img/girl.png 835w" sizes="100vw" data-w-id="8b4be816-b198-bd67-58b9-70b283804b66" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
            class="girl-at-window" id="girl">
        <div data-w-id="26eb68d4-c74a-22a0-1d6a-44ab49e02fd9" class="window" id="window"></div>
        <div data-w-id="c8517810-bdd8-77b8-636f-4357cb2ed637" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
            class="loading-bar" id="loading-bar"></div>
    </div>
    <div data-w-id="1639da1c-7f06-780e-f2fe-99051ce16dd6" style="-webkit-transform:translateX(-50VW) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(-50VW) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(-50VW) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(-50VW) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
        class="the-moon-below" id="the-moon-below">
        <img src="assets/img/moon-2.png" srcset="assets/img/moon-2-p-500.png 500w, assets/img/moon-2-p-800.png 800w, assets/img/moon-2-p-1080.png 1080w, assets/img/moon-2.png 1292w" sizes="50vw"></div>
    <div data-w-id="e0265ad7-07f6-fde8-5521-778f45ef26cb" style="-webkit-transform:translateX(-50VW) translateY(35VH) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(-50VW) translateY(35VH) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(-50VW) translateY(35VH) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(-50VW) translateY(35VH) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
        class="the-moon-below only-mobile w-hidden-main w-hidden-medium" id="the-moon-below-mobile">
        <img src="assets/img/moon-2.png" srcset="assets/img/moon-2-p-500.png 500w, assets/img/moon-2-p-800.png 800w, assets/img/moon-2-p-1080.png 1080w, assets/img/moon-2.png 1292w" sizes="(max-width: 767px) 50vw, 100vw"></div>
    <div class="hold-content">
        <main data-w-id="25f51c47-faec-e0a2-14dd-197bc8b59d1b" class="hero-section" id="main">
            <div class="container with-line w-container">
                <div data-w-id="6b70ac25-7e91-819a-c2d5-48010a57cfd3" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
                    class="orange-divider">
                    <div data-w-id="010358e6-b0c1-0836-c3db-4efbedbc424f" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
                        class="third"></div>
                    <div data-w-id="66857567-7af8-b66b-10cf-08c612033dd0" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
                        class="eighth"></div>
                </div>
                <div class="hold-heading"><img src="assets/img/headline_sc.png" srcset="assets/img/headline_sc.png 500w, assets/img/headline_sc.png 746w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 68vw, (max-width: 991px) 69vw, 750px" data-w-id="1cb0b4e1-aa8d-f128-7dc9-0fe3bd319044"
                        class="spaced-heading" id="sc_heading" style="opacity:0">
                    <div class="absolute-mask">
                        <div data-w-id="d06a6424-4729-db83-71e6-ea941dfd1507" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
                            class="absolute-block" id="mask_top"></div>
                        <div data-w-id="1449324b-0b12-2786-40f9-46dfa2fc5889" style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(0) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0)"
                            class="absolute-block-bottom" id="mask_bottom"></div>
                    </div>
                    <h1 id="book-voyage" class="heading">The Battle<br>Begins</h1>
                </div>
                <a class="explore-link w-inline-block" style="opacity: 0;cursor: default;">
                    <div class="white-down-arrow w-icon-dropdown-toggle"></div>
                    <div class="explore-text-link">Explore</div>
                </a>
            </div>
        </main>
        <section id="explore" data-w-id="e2e45d9c-69fc-e7de-4e80-cd02d98ddb7a" class="planet-section">
            <div data-w-id="78ec5619-1445-20cd-dd74-140c363e485f" class="container with-light-line-and-glow w-container">
                <img src="assets/img/space-ship-resized.png" srcset="assets/img/space-ship-resized-p-500.png 500w, assets/img/space-ship-resized.png 800w" sizes="(max-width: 479px) 94vw, 80vw" data-w-id="dd698758-23ef-23cd-d8b2-5c09b19bf0f1" class="astronaut" id="spaceship"
                    style="opacity: 0">
                <div class="orange-divider">
                    <div class="third"></div>
                </div>
                <h2 id="destinations" class="heading-2">Conception</h2>
                <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                    <div class="tabs-menu w-tab-menu">
                        <a data-w-tab="The Moon" class="planet-tab w-inline-block w-tab-link w--current" onclick="vr_click()" id="vr_link">
                            <div class="planet-tab-description">
                                <div>VR</div>
                            </div>
                        </a>
                        <a data-w-tab="Jupiter" class="planet-tab jupiter w-inline-block w-tab-link" onclick="card_click()" id="card_link">
                            <div class="planet-tab-description">
                                <div>CARD</div>
                            </div>
                        </a>
                        <a data-w-tab="Mars" class="planet-tab mars w-inline-block w-tab-link" onclick="war_click()" id="war_link">
                            <div class="planet-tab-description">
                                <div>WAR</div>
                            </div>
                        </a>
                        <a data-w-tab="Saturn" class="planet-tab saturn w-inline-block w-tab-link" onclick="esport_click()" id="esport_link">
                            <div class="planet-tab-description">
                                <div>E-SPORT</div>
                            </div>
                        </a>
                    </div>
                    <div class="tabs-content w-tab-content">
                        <div data-w-tab="The Moon" class="tab-pane w-tab-pane w--tab-active" id="vr">
                            <h3 data-w-id="76925845-f43b-5246-c4cb-39f4a26bd8e2" class="massive-heading" id="vr_heading">VR</h3>
                            <div class="destination-heading">
                                <div data-w-id="08584a36-58d3-66f1-4cb5-adbf018e1c99" class="orange-divider reversed">
                                    <div class="third upper">
                                        <div class="tiny-orange-call-out"></div>
                                    </div>
                                </div>
                                <h4 class="heading-3">VIRTUAL REALITY</h4>
                                <div class="destination__sub-heading">Forgot the motion sickness</div>
                            </div>
                            <p class="destination__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum, leo sit amet lacinia sollicitudin, metus nisi rutrum mauris, in aliquam dolor lacus in eros. Fusce porttitor sed ante eu dapibus. Donec consectetur
                                molestie velit pharetra ullamcorper. Ut at tortor sed leo posuere mattis. Cras ullamcorper mi vel ante tristique scelerisque. Donec condimentum bibendum ex non blandit. Fusce faucibus dui a odio vestibulum, non mollis turpis
                                mollis. Sed at dapibus leo. Nulla vestibulum hendrerit facilisis. Quisque quis neque eu neque mollis hendrerit.</p>
                            <div class="destination__images">
                                <div data-w-id="7f79de50-428c-d740-a084-c030b530013d" class="w-row">
                                    <div class="no-padding-col w-col w-col-6 w-col-small-6 w-col-tiny-6"><img src="assets/img/dinner.jpg" srcset="assets/img/dinner-p-500.jpeg 500w, assets/img/dinner.jpg 528w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 47vw, 36vw" data-w-id="cbb3d1df-135d-38b9-2639-ef0a5a268cab"></div>
                                    <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6"><img src="assets/img/LivingRoom.jpg" srcset="assets/img/LivingRoom-p-500.jpeg 500w, assets/img/LivingRoom.jpg 552w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 47vw, 36vw" data-w-id="dd4402b4-90dc-d8b7-2687-580cf9ede4b9">
                                        <img src="assets/img/moon.jpg" data-w-id="896c3f88-47da-ae3c-121a-013228f5d162" class="margined-image"></div>
                                </div>
                            </div>
                        </div>
                        <div data-w-tab="Jupiter" class="tab-pane w-tab-pane" id="card">
                            <h3 data-w-id="71f551f8-0a7e-b819-fb7c-2ed26f16b1aa" class="massive-heading" id="card_heading">CARD</h3>
                            <div class="destination-heading">
                                <div class="orange-divider reversed">
                                    <div class="third upper">
                                        <div class="tiny-orange-call-out"></div>
                                    </div>
                                </div>
                                <h4 class="heading-4">PLAYING CARD</h4>
                                <div class="destination__sub-heading">Build your strategie</div>
                            </div>
                            <p class="destination__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum, leo sit amet lacinia sollicitudin, metus nisi rutrum mauris, in aliquam dolor lacus in eros. Fusce porttitor sed ante eu dapibus. Donec consectetur
                                molestie velit pharetra ullamcorper. Ut at tortor sed leo posuere mattis. Cras ullamcorper mi vel ante tristique scelerisque. Donec condimentum bibendum ex non blandit. Fusce faucibus dui a odio vestibulum, non mollis turpis
                                mollis. Sed at dapibus leo. Nulla vestibulum hendrerit facilisis. Quisque quis neque eu neque mollis hendrerit.</p>
                            <div class="destination__images">
                                <div data-w-id="b4b67e88-d0a1-9d04-16ee-ac5f45e8c912" class="w-row">
                                    <div class="no-padding-col w-col w-col-6"><img src="assets/img/red-spot-jupiter.jpg" class="image-1"></div>
                                    <div class="w-col w-col-6"><img src="assets/img/2.jpg" srcset="assets/img/2-p-500.jpeg 500w, assets/img/2.jpg 552w" sizes="(max-width: 479px) 100vw, (max-width: 606px) 91vw, (max-width: 767px) 552px, (max-width: 991px) 47vw, 36vw" class="image-22">
                                        <img src="assets/img/moon.jpg" class="margined-image v2"></div>
                                </div>
                            </div>
                        </div>
                        <div data-w-tab="Mars" class="tab-pane w-tab-pane" id="war">
                            <h3 data-w-id="79f4f099-0bbd-c669-7c34-bbbae51122ce" class="massive-heading" id="war_heading">WAR</h3>
                            <div class="destination-heading">
                                <div class="orange-divider reversed">
                                    <div class="third upper">
                                        <div class="tiny-orange-call-out"></div>
                                    </div>
                                </div>
                                <h4>GREAT WAR</h4>
                                <div class="destination__sub-heading">Command a fleet to destroy your enemies</div>
                            </div>
                            <p class="destination__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum, leo sit amet lacinia sollicitudin, metus nisi rutrum mauris, in aliquam dolor lacus in eros. Fusce porttitor sed ante eu dapibus. Donec consectetur
                                molestie velit pharetra ullamcorper. Ut at tortor sed leo posuere mattis. Cras ullamcorper mi vel ante tristique scelerisque. Donec condimentum bibendum ex non blandit. Fusce faucibus dui a odio vestibulum, non mollis turpis
                                mollis. Sed at dapibus leo. Nulla vestibulum hendrerit facilisis. Quisque quis neque eu neque mollis hendrerit.</p>
                            <div class="destination__images">
                                <div data-w-id="f44a0a96-f2e1-7630-1642-9e7f4e423827" class="w-row">
                                    <div class="no-padding-col w-col w-col-6"><img src="assets/img/dinner.jpg" srcset="assets/img/dinner-p-500.jpeg 500w, assets/img/dinner.jpg 528w" sizes="(max-width: 479px) 100vw, (max-width: 586px) 90vw, (max-width: 767px) 528px, (max-width: 991px) 47vw, 36vw"
                                            class="image-1"></div>
                                    <div class="w-col w-col-6"><img src="assets/img/LivingRoom.jpg" srcset="assets/img/LivingRoom-p-500.jpeg 500w, assets/img/LivingRoom.jpg 552w" sizes="(max-width: 479px) 100vw, (max-width: 606px) 91vw, (max-width: 767px) 552px, (max-width: 991px) 47vw, 36vw"
                                            class="image-22">
                                        <img src="assets/img/3.jpg" class="margined-image v2"></div>
                                </div>
                            </div>
                        </div>
                        <div data-w-tab="Saturn" class="tab-pane w-tab-pane" id="e-sport">
                            <h3 data-w-id="f3485706-4490-abf2-a49f-65488006aa28" class="massive-heading" id="esport_heading">E-SPORT</h3>
                            <div class="destination-heading">
                                <div class="orange-divider reversed">
                                    <div class="third upper">
                                        <div class="tiny-orange-call-out"></div>
                                    </div>
                                </div>
                                <h4>E-SPORT</h4>
                                <div class="destination__sub-heading">Become more and more powerful</div>
                            </div>
                            <p class="destination__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum, leo sit amet lacinia sollicitudin, metus nisi rutrum mauris, in aliquam dolor lacus in eros. Fusce porttitor sed ante eu dapibus. Donec consectetur
                                molestie velit pharetra ullamcorper. Ut at tortor sed leo posuere mattis. Cras ullamcorper mi vel ante tristique scelerisque. Donec condimentum bibendum ex non blandit. Fusce faucibus dui a odio vestibulum, non mollis turpis
                                mollis. Sed at dapibus leo. Nulla vestibulum hendrerit facilisis. Quisque quis neque eu neque mollis hendrerit.</p>
                            <div class="destination__images">
                                <div data-w-id="87ab9c6f-ac50-e7f7-f8d0-3656f8f59f88" class="w-row">
                                    <div class="no-padding-col w-col w-col-6"><img src="assets/img/1.jpg" srcset="assets/img/1-p-500.jpeg 500w, assets/img/1.jpg 528w" sizes="(max-width: 479px) 100vw, (max-width: 586px) 90vw, (max-width: 767px) 528px, (max-width: 991px) 47vw, 36vw" class="image-1"></div>
                                    <div class="w-col w-col-6"><img src="assets/img/2.jpg" srcset="assets/img/2-p-500.jpeg 500w, assets/img/2.jpg 552w" sizes="(max-width: 479px) 100vw, (max-width: 606px) 91vw, (max-width: 767px) 552px, (max-width: 991px) 47vw, 36vw" class="image-22">
                                        <img src="assets/img/moon.jpg" class="margined-image v2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flexed-destination-features" style="padding-bottom: 0;">
                    <div class="orange-divider-cenetred">
                        <div class="third-top"></div>
                    </div>
                    <h4 class="white-h4">News</h4>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <a class="activity-pill" [routerLink]="['/news', ArticlesLimit[0].ID]">
                                <div class="news__images" id="article_image_0">
                                </div>
                                <div class="pill-description">
                                    <div class="activity-sub-heading">{{ArticlesLimit[0].Title}}</div>
                                    <p class="paragraph" [innerHTML]="ArticlesLimit[0].Description"></p>
                                </div>
                            </a>
                        </div>
                        <div class="w-col w-col-6">
                            <a class="activity-pill" [routerLink]="['/news', ArticlesLimit[1].ID]">
                                <div class="news__images" id="article_image_1"></div>
                                <div class="pill-description">
                                    <div class="activity-sub-heading">{{ArticlesLimit[1].Title}}</div>
                                    <p class="paragraph" [innerHTML]="ArticlesLimit[1].Description"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <a class="activity-pill" [routerLink]="['/news', ArticlesLimit[2].ID]">
                                <div class="news__images" id="article_image_2"></div>
                                <div class="pill-description">
                                    <div class="activity-sub-heading">{{ArticlesLimit[2].Title}}</div>
                                    <p class="paragraph" [innerHTML]="ArticlesLimit[2].Description"></p>
                                </div>
                            </a>
                        </div>
                        <div class="w-col w-col-6">
                            <a class="activity-pill" [routerLink]="['/news', ArticlesLimit[3].ID]">
                                <div class="news__images" id="article_image_3"></div>
                                <div class="pill-description">
                                    <div class="activity-sub-heading">{{ArticlesLimit[3].Title}}</div>
                                    <p class="paragraph" [innerHTML]="ArticlesLimit[3].Description"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a [routerLink]="['/news']" data-w-id="2da3fe3a-187b-878b-214e-0f224b2fed06" class="space-button-centered w-hidden-tiny w-inline-block">
                        <div>All News</div>
                        <div class="corner-upper-left"></div>
                        <div class="corner-upper-right"></div>
                        <div class="corner-bottom-right"></div>
                        <div class="corner-bottom-left"></div>
                    </a>
                </div>
                <div class="left-side-white"></div>
            </div>
            <div class="left-side-white-trail"></div>
            <div class="right-side-trail"></div>
            <div class="container with-line-no-padding w-container">
                <div class="centered-footer">
                    <div class="orange-divider-cenetred">
                        <div class="third-top"></div>
                    </div>
                    <div class="flexed-row centered w-row" id="screens">
                        <div class="w-col w-col-3">
                            <img src="assets/img/space-view.jpg" data-w-id="38b2819c-cddb-0776-51d9-a402ecd15096">
                        </div>
                        <div class="w-col w-col-4">
                            <img src="assets/img/space-cave.jpg" data-w-id="d488a60a-25b9-93e7-91d3-e17a82bc7622">
                        </div>
                        <div class="w-col w-col-3" id="screens-1" style="">
                            <img src="assets/img/man-at-bar.jpg" data-w-id="2ab87ce9-6bd9-3c62-e032-78bed97c1b7c" class="image-4">
                            <img src="assets/img/window.jpg" data-w-id="db9887b3-eb88-4d2e-cc44-6c0f44aa3c76">
                        </div>
                        <div class="column-4 w-col w-col-2" id="screens-2" style="">
                            <img src="assets/img/view-point.jpg" data-w-id="2808e55f-3474-2aca-c091-cd6ee413a3b4" class="image-4">
                            <img src="assets/img/space-barz.jpg" data-w-id="9f662b4a-97fc-2ab6-f4ea-0ef50074286d">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<logister></logister>