<headerClient>
</headerClient>
<section class="" style="margin-bottom: 120px;">
    <div class="title">
        <div class="orange-divider">
            <div class="third upper">
                <div class="tiny-orange-call-out">
                </div>
            </div>
        </div>
        <h2 class="title-text">BOUTIQUE</h2>
    </div>
    <div class="gold-user" (click)="openBuyGold()">‡ {{user.Gold}}</div>
    <div class="row extension">
        <div class="col-4 item" *ngFor="let extension of extensions; let i = index" (click)="isConfirmPayment(i)" id="booster_item_{{i}}">
            <img src="{{extension.sprite}}" alt="booster" class="booster-img" id="booster_{{i}}" />
            <div class="name-block">
                <div class="name">{{extension.name}}</div>
                <div class="corner-upper-left"></div>
                <div class="corner-upper-right"></div>
                <div class="corner-bottom-right"></div>
                <div class="corner-bottom-left"></div>
            </div>
        </div>
    </div>
    <div class="confirm-black-screen" id="confirm-black-screen"></div>
    <div class="confirm-payment" id="confirm_payment">
        <img src="../../assets/img/booster.png" alt="booster" class="booster-img" id="booster_payment" />
        <div class="name-block" id="name_block">
            <div class="name">{{namePayment}}</div>
            <div class="corner-upper-left"></div>
            <div class="corner-upper-right"></div>
            <div class="corner-bottom-right"></div>
            <div class="corner-bottom-left"></div>
        </div>
        <div class="box" id="box">
            <div class="text">
                <span>Voulez-vous acheter ce booster pour  ‡ 200?<br/>‡ {{user.Gold}} → ‡ {{user.Gold - 200}}</span>
            </div>
            <div class="foot">
                <div class="name-block cancel" id="cancelPayment" (click)="cancelPayment()">
                    <div class="name">Annuler</div>
                    <div class="corner-upper-left"></div>
                    <div class="corner-upper-right"></div>
                    <div class="corner-bottom-right"></div>
                    <div class="corner-bottom-left"></div>
                </div>
                <div class="name-block valid" id="validPayment" (click)="buyBooster()">
                    <div class="name">Acheter</div>
                    <div class="corner-upper-left"></div>
                    <div class="corner-upper-right"></div>
                    <div class="corner-bottom-right"></div>
                    <div class="corner-bottom-left"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="booster" class="booster-block">
        <img src="../../assets/img/testBooster.png" alt="booster" class="booster-img" id="booster-img" />
        <div class="line" id="line_open_booster"></div>
    </div>
    <div id="cards_list" class="cards-list">
        <img *ngFor="let card of boosterCards; let i = index" src="../../assets/img/back.png" alt="card-{{i}}" id="card_{{i}}" class="cards-booster" (click)="rotateCard(i)" />
    </div>
    <div class="list-card-black-screen" id="list-card-black-screen"></div>
    <div class="name-block close-button-animation" id="close-button-animation" (click)="closeAnimation()">
        <div class="name">Fermer</div>
        <div class="corner-upper-left"></div>
        <div class="corner-upper-right"></div>
        <div class="corner-bottom-right"></div>
        <div class="corner-bottom-left"></div>
    </div>
    <div class="content-buy-gold" id="buy_gold" (click)="closeBuyGold()">
        <div class="buy-gold">
            <p class="title">Achetez des golds supplémentaire !</p>
            <div class="cards">
                <div class="card" (click)="openError()">
                    <img src="../../assets/img/buy1.png" alt="gold" class="img" />
                    <p class="price">2€</p>
                </div>
                <div class="card" (click)="openError()">
                    <img src="../../assets/img/buy2.png" alt="gold" class="img" />
                    <p class="price">5€</p>
                </div>
                <div class="card" (click)="openError()">
                    <img src="../../assets/img/buy3.png" alt="gold" class="img" />
                    <p class="price">10€</p>
                </div>
            </div>
        </div>
    </div>
    <div class="error" id="error">
        <p class="text">Désolé mais les transactions sont momentanément indisponible.</p>
        <button (click)="closeError()">Fermer</button>
    </div>
</section>
<logister></logister>