<headerClient>
</headerClient>
<section class="planet-section" style="margin-bottom: 120px;">
    <div class="container with-light-line-and-glow w-container ">
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">

            <div class="tabs-content w-tab-content">
                <div data-w-tab="The Moon" class="tab-pane w-tab-pane w--tab-active news_block" style="opacity: 1; transition: opacity 300ms;padding-left: 288px;">
                    <div class="destination-heading">
                        <div class="col-md-12">
                            <div class="row">
                                <h4 class="heading-3">Pick a booster</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let extension of extensions">
                                    <label>
                                        <input type="radio" name="booster"/>
                                        <img class="booster" src="../../assets/img/booster.png">
                                        <div class="extensionName">{{extension}}
                                            <div class="corner-upper-left"></div>
                                            <div class="corner-upper-right"></div>
                                            <div class="corner-bottom-right"></div>
                                            <div class="corner-bottom-left"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <Br>
                            <div class="row">
                                <div class="col-md-2 offset-md-10 buyButton">
                                    <a (click)="buy()">Buy</a>
                                    <div class="corner-upper-left"></div>
                                    <div class="corner-upper-right"></div>
                                    <div class="corner-bottom-right"></div>
                                    <div class="corner-bottom-left"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <div class="alert alert-danger" *ngIf="errorMessage">
                                        {{ errorMessage }}
                                    </div>
                                    <div class="alert alert-success" *ngIf="successMessage">
                                        Booster bought ! You now can find your cards in your collection.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-side-white left-side-white--news" style="margin-top: 70px;max-height:unset;"></div>
    </div>
</section>
<logister></logister>