<router-outlet>
</router-outlet>
<section id="ships" class="ship-section" style="margin-top: 50px;">
    <div class="right-side-trail"></div>
    <div class="container with-line-no-padding w-container">
        <div class="center-footer-content">
            <img src="assets/img/logo_sc.png" style="width: 30%;">
        </div>
    </div>
</section>
<div class="small-nav-bttom">
    <div class="container w-container">
        <div class="small-nav__left-side-footer">
            <div class="small-nav__link">© Copyright SPACE CONFLICT 2017</div>
        </div>
        <div class="small-nav__right-side-footer">
            <div class="small-nav__link less">EPITECH EIP 2019</div>
        </div>
    </div>
</div>